body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

}
.logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.logo_glowne {
  font-size: 40px;
  color: #EA526F;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px gray;
}
.logo_glowne::before {
  content: '❤';
  font-size: 30px;
  margin-right: 5px;
}
.logo_glowne::after {
  content: '❤';
  font-size: 30px;
  margin-left: 5px;
}

.menu {
  width: 95%;
  margin: 0 auto;
  padding:  10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav-item {
  text-decoration: none;
  color: #25CED1;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #25CED1;
  border-radius: 20px;
  box-shadow: 5px 5px;
  &:hover {
    background-color: #25CED1;
    color: #FCEADE;

  }
}
.nav-item-special,
.nav-item-special:hover {
  background-color: #25CED1;
  color: #FCEADE;
  border: 1px solid #25CED1;
}




.photo-text-section {
  display: flex;
  margin: 20px auto;
  width: 95%;
  align-items: stretch;
  background-color: #EA526F;
  box-shadow: 5px 5px #25CED1;

}

.photo {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.photo-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-box-ok {
  flex: 1;
  height: auto;
  background-color: #ea526f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box-ok h2 {
  margin-top: 0;
  color: #FCEADE;
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px black;
}

.text-box-ok p {
  color: #FCEADE;
  font-size: 17px;
  text-align: center;
  padding: 20px;
}

.image-text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Background color for the section */
  width: 80%;
  margin: 0 auto;
}

.text-box {
  flex: 1;
  padding: 20px;
  background-color: #ffffff; /* Background color for the text box */
  border-radius: 10px; /* Rounded corners for the text box */
  text-align: center;
  margin-right: 10px; /* Adjust the margin to create space between text and image */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* Align image to the left */
}

.image-container img {
  width: 60%; /* Adjust the width to make the image smaller */
  height: auto;
  border-radius: 10px; /* Rounded corners for the image */
}
