body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;

}
.logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.logo_glowne {
  font-size: 40px;
  color: #EA526F;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px gray;
}
.logo_glowne::before {
  content: '❤';
  font-size: 30px;
  margin-right: 5px;
}
.logo_glowne::after {
  content: '❤';
  font-size: 30px;
  margin-left: 5px;
}

.menu {
  width: 95%;
  margin: 0 auto;
  padding:  10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav-item {
  text-decoration: none;
  color: #25CED1;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #25CED1;
  border-radius: 20px;
  box-shadow: 5px 5px;
  &:hover {
    background-color: #25CED1;
    color: #FCEADE;

  }
}
.nav-item-special,
.nav-item-special:hover {
  background-color: #25CED1;
  color: #FCEADE;
  border: 1px solid #25CED1;
}

.photo-text-section {
  display: flex;
  margin: 20px auto;
  width: 95%;
  align-items: stretch;
}

.photo {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.photo-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-box {
  flex: 1;
  height: auto;
  background-color: #25CED1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box h2 {
  margin-top: 0;
  color: #FCEADE;
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px black;
}

.text-box p {
  color: #FCEADE;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.dania-section {
  text-align: center;
  margin: 20px;
}

.dania-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #EA526F;
  text-shadow: 1px 1px black;
}

.photo-container {
  display: flex;
  justify-content: space-around;
}

.circular-photo {
  margin: 10px;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  box-shadow: 5px 5px #EA526F;
}

.circular-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circular-photo:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.circular-photo a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.photo-section {
  width: 95%;
  margin: 20px auto;
  padding-bottom: 20px;
}

.photo-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.photo-column {
  position: relative;
  flex: 1;
  margin: 0 5px;
}

.photo-column img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 5px 5px #EA526F;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0); /* Initial transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.overlay-link {
  text-decoration: none;
}

.overlay-text {
  color: #FCEADE;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px black;
}

.photo-column:hover .photo-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 0.5 opacity on hover */
  opacity: 1;
}
