body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
.logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo_glowne {
  font-size: 40px;
  color: #EA526F;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px gray;
}
.logo_glowne::before {
  content: '❤';
  font-size: 30px;
  margin-right: 5px;
}
.logo_glowne::after {
  content: '❤';
  font-size: 30px;
  margin-left: 5px;
}

.menu {
  width: 95%;
  margin: 0 auto;
  padding:  10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-item {
  text-decoration: none;
  color: #25CED1;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #25CED1;
  border-radius: 20px;
  box-shadow: 5px 5px;
  &:hover {
    background-color: #25CED1;
    color: #FCEADE;

  }
}
.nav-item-special,
.nav-item-special:hover {
  background-color: #25CED1;
  color: #FCEADE;
  border: 1px solid #25CED1;
}



.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 95%;
  margin: 0 auto;

}

.photo-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 500px;
  box-shadow: 5px 5px #EA526F;
  margin-bottom: 20px;
}

.photo {
  width: 100%;

  height: 500px;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  color: #FCEADE;
  font-size: 50px;
  margin-bottom: 10px;
  text-shadow: 1px 1px black;
}

.instagram-logo {
  width: 50px;
  height: 50px;
}

.VOD-logo {
  width: 100px;
  height: 80px;
}
.player-logo{
  width: 50px;
  height: 50px;
}
.photo-section:hover .overlay {
  opacity: 1;

}

.photo-section:hover .photo {
  transform: scale(1.1);

}
.video-section {
  grid-column: span 1;
}
