body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
}

.vertical-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-item {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #eee;

  &:hover {
    background-color: #f2f2f2;
    color: #0056b3;
  }
}

.hero {
  position: relative;
  /* background-image: url("Makłowicz.jpg"); */
  background-size: cover;
  background-position: center;
  height: 400px;
}

.hero-image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.hero-text {
  text-align: left; /* Align text to the left */
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 10%; /* Adjust left position */
  transform: translateY(-50%);
}

.hero-text-last-name {
  position: absolute;
  top: 60%; /* Adjust the position of the last name */
  left: 10%; /* Adjust left position */
  color: #fff;
  font-size: 20px;
}
