body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;

}
.logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.logo_glowne {
  font-size: 40px;
  color: #EA526F;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px gray;
}
.logo_glowne::before {
  content: '❤';
  font-size: 30px;
  margin-right: 5px;
}
.logo_glowne::after {
  content: '❤';
  font-size: 30px;
  margin-left: 5px;
}

.menu {
  width: 95%;
  margin: 0 auto;
  padding:  10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav-item {
  text-decoration: none;
  color: #25CED1;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #25CED1;
  border-radius: 20px;
  box-shadow: 5px 5px;
  &:hover {
    background-color: #25CED1;
    color: #FCEADE;

  }
}
.nav-item-special,
.nav-item-special:hover {
  background-color: #25CED1;
  color: #FCEADE;
  border: 1px solid #25CED1;
}

.hero {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  margin-bottom: : 20px;

}

.hero-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.hero-text {
  text-align: left;
  color: #EA526F;
  font-size: 100px;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(-50%);
  text-shadow: 2px 2px gray;
}

.hero-text-last-name {
  position: absolute;
  top: 35%;
  left: 10%;
  color: #EA526F;
  font-size: 80px;
  text-shadow: 2px 2px gray;
}
.split-container {
  flex:1;
  display: flex;
  margin-top: 20px;
  background-color:#25CED1;
  margin-left: 50px;
  margin-right: 50px;
}

.text-box {
  flex: 1;
  padding: 10px;
  background-color:#25CED1;
  color: #FCEADE

}
.text-box h2{
  text-shadow: 1px 1px gray;
  font-size: 50px;
  padding-left: 20px
}
.text-box p{
  font-size: 20px;
  margin-top: 50px;
  padding-left: 20px;
  margin-right:  20px;
}
.slider {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: #25CED1;
}


.slider-container {
  display: flex;
  width: 500px;
  height: 500px;
  transition: transform 0.5s ease-in-out;
  background-color: #25CED1;
}

.slide {
  flex: 0 0 100%;
  position: relative;
  height: 300px;
  background-color: #F2F2F2;
}

.slider-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}



.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: #EA526F;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.newsletter {
  background-color: #EA526F;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.newsletter h2 {
  color: #FCEADE;
  font-size: 25px;
  text-shadow: 1px 1px black;
}

.newsletter label{
  color: #FCEADE;
  font-size: 17px;
  text-shadow: 1px 1px black;
}

#email {
  padding: 10px;
  margin-right: 10px;
  background-color: #FCEADE;

}

.newsletter button {
  background-color: #25CED1;
  color: #FCEADE;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;

}

.newsletter button:hover {
  background-color: #FCEADE;
  color: #25CED1;
}
